version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: chat-postgres
    environment:
      POSTGRES_DB: chat-app
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: chat-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
